global
  maxconn 4096
  log stdout format raw local0

defaults
  mode http
  option httplog
  option http-keep-alive
  timeout connect 300ms
  timeout client 2s
  timeout server 2s

frontend payments
  bind *:9999
  default_backend apis

backend apis
  balance roundrobin
  option httpchk GET /health
  server api1 api1:8080 check inter 1s fall 2 rise 1
  server api2 api2:8080 check inter 1s fall 2 rise 1
